.formWrapper {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 450px;
  max-width: 100%;
  margin: 0 auto;
}
.payment-form {
  width: 90%;
  margin: 0 auto;
}
h2 {
  display: block;
  margin: 0 auto 1.5rem;
  padding: 0;
  font-weight: bolder;
}
.headline {
  padding: 0.5rem;
}
input,
.input {
  padding: 0.5rem;
  font-size: 16px;
  width: 100%;
  display: block;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.form-group {
  margin: 1.5rem auto 0;
}
input:focus {
  border-color: #007eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(0, 126, 255, 0.1);
  outline: none;
}
input.error {
  border-color: red;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

button {
  max-width: 150px;
  margin: 20px 0;
  padding: 12px 20px;
  border-style: none;
  border-radius: 5px;
  background-color: #08c;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}

button + button {
  margin-left: 0.5rem;
}

button.outline {
  background-color: #eee;
  border: 1px solid #aaa;
  color: #555;
}
.input-feedback {
  color: red;
  margin-top: 0.25rem;
}
.visa-feedback {
  color: white;
  padding: 1rem 0.7rem;
  background-color: #5eb7ebfa;
  margin: 1.2rem 0;
  border-radius: 4px;
  text-align: center;
}
.reset-link {
  color: #08c;
  outline: none;
  font-weight: 600;
  display: block;
  padding: 1rem 0.5rem;
  &:hover {
    text-decoration: underline;
    text-decoration-color: #08c;
  }
}
