// .formWrapper {
//   background-color: #fff;
//   border-radius: 5px;
//   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
//   width: 400px;
//   max-width: 100%;
//   margin: 0 auto;
// }
// .form {
//   padding: 30px 40px;
// }
// .form-control {
//   position: relative;
//   margin-bottom: 10px;
//   padding-bottom: 20px;
// }
// .form-control label {
//   display: inline-block;
//   margin-bottom: 5px;
// }
// .form-control input {
//   border: 2px solid #f0f0f0;
//   border-radius: 4px;
//   display: block;
//   font-size: 14px;
//   padding: 10px;
//   width: 100%;
// }
// .form-control i {
//   position: absolute;
//   top: 40px;
//   right: 10px;
//   visibility: hidden;
// }

// .form-control small {
//   position: absolute;
//   visibility: hidden;
//   left: 0;
//   bottom: 0;
// }
// .form-control.success input {
//   border-color: #2ecc72;
// }
// .form-control.error input {
//   border-color: #e74c3c;
// }
// .form-control.success i.bx-comment-check {
//   visibility: visible;
//   color: #2ecc72;
// }
// .form-control.success i.bx-comment-error {
//   visibility: visible;
//   color: #e74c3c;
// }
.formWrapper {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 450px;
  max-width: 100%;
  margin: 0 auto;
}
.signin-form {
  width: 90%;
  margin: 0 auto;
}

input {
  padding: 0.5rem;
  font-size: 16px;
  width: 100%;
  display: block;
  border-radius: 4px;
  border: 1px solid #ccc;
}
input:focus {
  border-color: #007eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(0, 126, 255, 0.1);
  outline: none;
}
input.error {
  border-color: red;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

button {
  max-width: 150px;
  margin: 20px 0;
  padding: 12px 20px;
  border-style: none;
  border-radius: 5px;
  background-color: #08c;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}

button + button {
  margin-left: 0.5rem;
}

button.outline {
  background-color: #eee;
  border: 1px solid #aaa;
  color: #555;
}
.reset-link {
  color: #08c;
  outline: none;
  font-weight: 600;
  display: block;
  padding: 1rem 0.5rem;
  &:hover {
    text-decoration: underline;
    text-decoration-color: #08c;
  }
}
.input-feedback {
  color: red;
  margin-top: 0.25rem;
}
