// .formWrapper {
//   background-color: #ffffff;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-direction: column;
//   padding: 0 50px;
//   height: 100%;
//   text-align: center;
//   width: 50%;
//   margin: 0 auto;
// }
.formWrapper {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 400px;
  max-width: 100%;
  margin: 0 auto;
}
.form {
  padding: 30px 40px;
}
.form-control {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 20px;
}
.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}
.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}
.form-control i {
  position: absolute;
  top: 40px;
  right: 10px;
  visibility: hidden;
}

.form-control small {
  position: absolute;
  visibility: hidden;
  left: 0;
  bottom: 0;
}
.form-control.success input {
  border-color: #2ecc72;
}
.form-control.error input {
  border-color: #e74c3c;
}
.form-control.success i.bx-comment-check {
  visibility: visible;
  color: #2ecc72;
}
.form-control.success i.bx-comment-error {
  visibility: visible;
  color: #e74c3c;
}
.socialSignIn {
  margin: 0.5rem auto 0;
}
.links {
  display: block;
  width: 100%;
  // margin: 1.5rem auto 0;
  a {
    color: #fff;
  }
}
