.productCard {
  max-width: 80rem;
  margin: 0 auto;
  .thumbnail {
    height: auto;
    display: block;
    width: 100%;
    margin: 0;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.productDetails {
  ul,
  ul li {
    padding: 0;
    margin: 0;
  }
  ul li {
    list-style-type: none;
    margin: 0 auto 1rem;
  }
  h1 {
    margin: 0;
  }
  .addToCart {
    max-width: 20rem;
  }
}
