.directory {
  height: 100%;

  .wrap {
    height: 100%;
    width: 100%;
    display: inline-block;
    .item {
      position: relative;
      float: left;
      width: 50%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: rgba($color: #000000, $alpha: 0.3);
        width: 100%;
        height: 100%;
        z-index: 1;
      }
      a {
        position: absolute;
        background: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        z-index: 2;
        font-size: 2rem;
        list-style: 1;
        text-transform: uppercase;
        padding: 8px 10px;
        border: 1px solid black;
        color: black;
      }
    }
  }
}
