// .header {
//   height: 6.5rem;
//   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
//   .wrapper {
//     position: relative;
//     max-width: 1450px;
//     margin: 0 auto;
//     height: 100%;
//     .logo {
//       width: 130px;
//       position: absolute;
//       height: 70px;
//       top: 50%;
//       transform: translateY(-50%);
//       -webkit-transform: translateY(-50%);
//       -moz-transform: translateY(-50%);
//       img {
//         display: block;
//         width: 100%;
//         margin: 0;
//         height: 75px;
//       }
//     }
//     nav {
//       display: block;
//       margin: 0;
//       padding: 0;
//       width: 100%;
//       height: 100%;
//       ul,
//       ul li {
//         padding: 0;
//         margin: 0;
//         height: 100%;
//       }
//       ul {
//         text-align: center;
//         li {
//           display: inline-block;
//           list-style-type: none;
//           a {
//             font-size: 1.8rem;
//             line-height: 6.5rem;
//             vertical-align: middle;
//             color: black;
//             line-height: 1;
//             text-transform: uppercase;
//             text-decoration: none;
//           }
//         }
//       }
//     }
//     .callToActions {
//       position: absolute;
//       top: 50%;
//       right: 10%;
//       transform: translateY(-50%);
//       -webkit-transform: translateY(-50%);
//       -moz-transform: translateY(-50%);
//       ul,
//       li {
//         margin: 0;
//         padding: 0;
//       }
//       li {
//         display: inline-block;
//         list-style-type: none;
//         margin-right: 1.5rem;

//         &:last-child {
//           margin-right: 0;
//         }
//         a {
//           font-size: 1.8rem;
//           color: black;
//           line-height: 1;
//           text-transform: uppercase;
//           text-decoration: none;
//         }
//       }
//     }
//   }
// }

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--dark-color-lighten);
}
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: calc(var(--header-height) / 2);
}
.nav__item {
  margin-bottom: var(--mb-4);
}
.nav__logo {
  font-weight: var(--font-semi-bold);
  font-size: var(--big-font-size);
}
.nav__toggle,
.nav__logout {
  font-size: 1.3rem;
  cursor: pointer;
}
.show {
  left: 0;
}
.nav__link {
  font-size: 1.25rem;
}
@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    left: -100%;
    width: 70%;
    height: 100vh;
    padding: 2rem;
    background-color: var(--white-color);
    transition: 0.5s;
  }
}
