:root {
  --header-height: 3rem;
  --font-semi-bold: 600;
  --font-bold: 700;
  --first-color: #e55947;
  --first-color-alt: #d2321e;
  --white-color: #fafaff;
  --dark-color: #101010;
  --dark-color-light: #606060;
  --gray-color: #f0f1f3;
  --body-font: "Open Sans", sans-serif;
  --big-font-size: 3rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.75rem;
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --z-tooltip: 10;
  --z-fixed: 100;
}

*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--dark-color);
  line-height: 1.6;
}
h1,
h2,
p {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}
img {
  max-width: 100%;
  height: auto;
}
.section {
  padding: 3rem 0;
}
.section-title {
  font-size: var(--h2-font-size);
  color: var(--dark-color);
  margin: var(--mb-4) var(--mb-1);
  text-align: center;
}
.section-all {
  display: block;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--dark-color-light);
  text-align: center;
  margin-bottom: var(--mb-2);
}
.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--gray-color);
}
.navigation {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .navigation__menu {
    position: fixed;
    right: -100%;
    top: var(--header-height);
    width: 80%;
    height: 100vh;
    padding: 2rem;
    background-color: var(--white-color);
    transition: 1s;
  }
}
.navigation__item {
  margin-bottom: var(--mb-4);
}
.navigation__link {
  color: var(--dark-color);
  font-weight: var(--font-semi-bold);
}

.navigation__link:hover {
  color: var(--first-color);
}
.navigation__logo {
  font-weight: var(--font-bold);
}
.navigation__cart {
  position:relative;
  font-size: 1.5rem;
  margin-right: var(--mb-2);
}
.total-quantity{
  position:absolute;
  font-size:1.2rem;
  top:-.6rem;
  color:var(--first-color);

}
.navigation__toggle {
  font-size: 1.5rem;
  cursor: pointer;
}
.showMenu {
  right: 0;
}
.active {
  color: var(--first-color);
}